{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <h1>Login</h1>
  <div class="container">
    <form class = "mb-3" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Enter Username">
        <br>

        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" name="password">
        <br>

        <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
</div>
{% endblock content %}