{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="p-5 m-3 col-md-7">
  <h1 class='display-2'>Login</h1>

  <div class="container p-5 m-5 bg-light">


{% if messages %}
<ul class="messages">
    {% for message in messages %}
      <p class="text-danger">{{ message }}<p>
    {% endfor %}
</ul>
{% endif %}

    <form class = "mb-3" action="{% url 'accounts:login' %}" method="POST">
    {{ form.as_p }}
        {% csrf_token %}
              {% if form.errors %}
    <p>Your username and password didn't match! Please try again.</p>
    {% endif %}

        <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
  <a class='a' href={% url 'accounts:signup'%}>Don't have an account? Register here!</a>
</div>
{% endblock content %}