{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <h1>Login</h1>
  <div class="container">


{% if messages %}
<ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


    <form class = "mb-3" action="{% url 'accounts:login' %}" method="POST">
    {{ form.as_p }}
        {% csrf_token %}
              {% if form.errors %}
    <p>Your username and password didn't match! Please try again.</p>
    {% endif %}

        <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
</div>
{% endblock content %}