{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-5">
<p>Welcome to the Weather compare!</p>

<p>This is a site that was used to learn Django framework a bit more properly</p>
<p>It's main function is to compare weather forecasts from multiple websites. As a user without account you can access all places through "Places" at the navbar and then click on the individual places, created by other users, to see forecast for them.</p>

<p>You can also create an account which will allow you to create new places, for which the website will then show forecasts</p>

</div>
{% endblock content %}