{% extends 'base.html' %}

{% block content %}
<p>{{place.name}}</p>
<p>Longtitude {{place.longtitude}}</p>
<p>Latitude: {{place.latitude}}</p>
{% if place.author %}
  <p> Author: {{place.author}}</p>
{% endif %}
<p>{{place.created_date}}</p>


<div class='container p-3  col-md-4'>
    <a href="{% url 'weather:place_edit' pk=place.pk %}"><button type="button" class="btn btn-primary">Edit</button></a>
    <a href="{% url 'weather:place_remove' pk=place.pk %}"><button type="button" class="btn btn-primary">Remove</button></a>
</div>
{% endblock content %}