{% extends 'base.html' %}

{% block content %}
<p>{{place.name}}</p>
<p>Longtitude {{place.longtitude}}</p>
<p>Latitude: {{place.latitude}}</p>
{% if place.author %}
  <p> Author: {{place.author}}</p>
{% endif %}
<p>{{place.created_date}}</p>


<div class='container p-3  col-md-4'>
  {% if user == place.author %}
      <button onclick="location.href='{% url 'weather:place_edit' pk=place.pk %}'" type="button" class="btn btn-primary">Edit</button>
      <button onclick="location.href='{% url 'weather:place_remove' pk=place.pk %}'" type="button" class="btn btn-primary">Remove</button>
  {% else %} 
    <span title="Only author can edit or remove place"><button type="button" class="btn btn-primary" disabled>Edit</button>
    <button type="button" class="btn btn-primary" disabled>Remove</button></span>
  {% endif %}
</div>


  <div id="container" style="width: 50%;">
    <canvas id="forecast-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
  <script>

    var config = {
      type: 'line',
      data: {
        datasets: [{
          data: {{temperatures_yr|safe}},
          backgroundColor: [
            "red"
          ],
          borderColor: "red",
          fill: false,
          label: 'Temperatures Yr.no'
          },
          {
          data: {{temperatures_openweather|safe}},
          backgroundColor: [
            "green"
          ],
          borderColor: "green",
          fill: false,
          label: 'Temperatures Openweather'
          },
        ],
        labels: {{dates|safe}}
      },
      options: {
        responsive: true,
            scales: {
        y: {
          grid:{
            borderColor:"black"
            },          
          title: {
            text:'°C',
            display: true}
        },
        x: {
          grid:{
            borderColor:"black"
            },
          title: {
            text:'dates',
            display: true
            }
        }
    }
        
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('forecast-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
  
{% endblock content %}