{% extends 'base.html' %}

{% block content %}
<p>{{place.name}}</p>
<p>Longtitude {{place.longtitude}}</p>
<p>Latitude: {{place.latitude}}</p>
{% if place.author %}
  <p> Author: {{place.author}}</p>
{% endif %}
<p>{{place.created_date}}</p>


<div class='container p-3  col-md-4'>
  {% if user == place.author %}
      <button onclick="location.href='{% url 'weather:place_edit' pk=place.pk %}'" type="button" class="btn btn-primary">Edit</button>
      <button onclick="location.href='{% url 'weather:place_remove' pk=place.pk %}'" type="button" class="btn btn-primary">Remove</button>
  {% else %} 
    <span title="Only author can edit or remove place"><button type="button" class="btn btn-primary" disabled>Edit</button>
    <button type="button" class="btn btn-primary" disabled>Remove</button></span>
  {% endif %}
</div>
{% endblock content %}